.container {
    margin-inline: 100px;
}

.inputRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 3rem;
    margin-block: 1rem;
}

.input-field {
    display: flex;
    height: 56px;
    width: 300px;
    border: 1px solid #e0e3eb;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    border-radius: 32px;
    padding-right: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.inputLabel {
    font-size: 18px;
    font-weight: 500;
}

.formButtons {
    background-color: #10b981;
    padding: 10px 25px;
    margin: 0px 10px;
    display: inline-flex;
    align-items: center;
    height: 46px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    border: none;
}

.uploadBtn {
    display: grid;
    height: 32px;
    width: 150px;
    font-size: 14px;
    align-content: center;
    font-weight: 600;
    padding: 8px 16px;
    border: 1px solid rgb(53, 53, 53) !important;
    border-radius: 32px;
}

.uploadBtn:hover {
    background-color: rgb(228, 228, 228);
}

.removeIcon {
    background-color: white;
    font-size:20px;
    color: red;
    border: none;
    border-radius: 12px;
}

.removeIcon:hover {
    color: darkred;
    background-color: rgb(255, 197, 197);
}

.formButtons:hover {
    background-color: #047857;
}

.formDeleteButton {
    background-color: red !important;
}

.formDeleteButton:hover {
    background-color: darkred !important;
}

.loader {
    border: 5px solid transparent; /* Light grey */
    border-top: 5px solid white; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media (max-width:768px) {
    .inputRow {
        margin-inline: 0.5rem;
        margin-block:0.5rem;
    }

    .inputLabel {
        font-size: 14px;
        font-weight: 500;
    }

    .input-field {
        height: 35px;
        width: 200px;
    }

    .formButtons {
        padding: 10px 15px;
        margin: 0px 10px;
        display: inline-flex;
        align-items: center;
        height: 30px;
        color: white;
        font-size: 14px;
        font-weight: 500;
        border-radius: 20px;
        border: none;
    }

    #search-term {
        font-size: 12px;
    }
}