.badge {
    position: absolute;
    bottom: 1.25rem;
    left: 3.75rem;
    padding: 8px 16px;
    border-radius: 20px;
    color: #888B97;
    font-size: 14px;
    font-weight: 500;
    text-wrap: nowrap;
}

.badge-icon {
    margin-right: 5px;
    font-size: 16px;
  }

@media (max-width:768px) {
    .badge {
        font-size: 10px;
        left: 1rem;
        line-height: 3px;
        margin-top: 135px;
        padding: 4px 12px;
    }
    .badge-icon {
        font-size: 13px;
        padding-right: 10px!important;
      }
}

@media (min-width:1200px) {
    .badge {
        bottom: 1rem;
        left: 2rem;
    }
}


@media (min-width:1500px) {
    .badge {
        left:6rem;
    }
}