
.list-card {
  display: inline-block;
  margin-top: 50px;
  padding-inline: 40px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  color: #0e1735;
}

.listing-title {
  margin-top: 24px;
  margin-bottom: 14px;
}

.display-4 {
  font-size: 20px;
  font-weight: 500;
  color: #3c4563;
}

.display-3 {
  color: #0e1735;
  font-size: 18px;
  font-weight: 500;
}

.display-5 {
  color: #888B97;
  font-size: 14px;
  font-weight: 500;
  color: #68799f;
}

.imgLarge {
  width: 100%;
}

.avatar {
  height: 50px;
  width: 50px;
}

@media (max-width:768px) {

  .list-card {
    margin-top: 30px;
    margin-right: 20px;
  }

  .imgLarge {
    max-width: 150px;
  }

  .listing-title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .display-4 {
    font-size: 16px;
  }

  .profile-info h4 {
    margin-bottom: 8px;
  }

  /* .profile-info {
    left: 45px;
  } */

  .avatar {
    height: 40px;
    width: 40px;
  }

  .display-5 {
    font-size: 10px;
    line-height: normal!important;
  }

  .display-3 {
    font-size: 12px;
    line-height: normal!important;
  }


  
  .list-card {
    padding: 0;
    margin-top: 30px;
    margin-inline: auto;
  }
}
